.home-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.home-container h2{
    line-height: 35px;
    text-align: center;
    text-decoration: underline;
    position: relative;
    letter-spacing: 10px;
}
.subs-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 10px;
}

.group-title{
    margin: 10px 10px;
}

.subs-wrappper{
    display: flex;
    width: 550px;
    margin: 20px 0;
}

.subs-item-container{
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    object-fit: contain;
    overflow: auto;
}

.subs-item-container img{
    object-fit: fill;
}

.sub-name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px;
}

.subs-paid-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
    margin: 0 70px
}

